@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

body {
    background-color: rgb(228, 228, 228);
    direction: rtl;
    text-align: right;
    font-family: 'Vazirmatn', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
}


.navbar-brand img {
    margin: 0 20px;
    height: 40px;
}

.navbar {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.btn-user {
    background-color: #2CDBB2;
    color: #000;
    border: none;
    margin: auto;
    border-radius: 10px;
}

.btn-doctor {
    background-color: transparent;
    color: #000000;
    border: 2px solid #2CDBB2;
    border-radius: 10px;
}

.modal-header, .modal-footer {
    border: none;
    display: flex;
    justify-content: space-around;
}

.form-control:focus {
    box-shadow: none;
    border-color: #2CDBB2;
}

.btn-confirm {
    background-color: #2CDBB2;
    color: rgb(0, 0, 0);
}
.input-group{
    direction: ltr;

}
.modal-content {
    text-align: center;
    }
.custom-input {
    background-color: white;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 10px 20px;
    width: 80%;
    max-width: 60%;
    margin-left: 10px;

  }
  .custom-button {
    background-color: #2a9d8f;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
  }
  .custom-button i {
    margin-left: 5px;
  }
  .stats {
    margin-top: 30px;
  }
  .stats div {
    margin: 15px 0;
  }
  .bg-icons {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    background-repeat: repeat;
  }
  .searchbar {
    background-color: #2CDBB2;
    color: white;
    padding: 90px 0 200px;
    position: relative;
    top: -56px;
    z-index: -1;}

.container {
        max-width: 100%;
        color: #000;
        
    
    }
    #cityDropdown {
      max-height: 200px;
      overflow-y: auto;
  }
  .modal-header{
    direction: rtl;
  }
.custom-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position:relative;
  width: 100%;
  max-width: 300px; 
  height: 100px; 
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.custom-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width:auto;
  height:auto; 
  object-fit: cover;
  justify-content: center;
  padding-right: 8px;
}
.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  top: -160px;
  z-index: 1;}

  .card-body {
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.card-subtext {
  font-size: 0.875rem;
  color: #6c757d;
}
