@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');


.navbar-nav {
    margin: 2;
}

.navbar-brand img {
    margin: 0 20px;
    height: 40px;
}

.navbar {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.btn-user {
    background-color: #2CDBB2;
    color: #000;
    border: none;
    text-align: left;
    border-radius: 10px;
}

.btn-doctor {
    background-color: transparent;
    color: #000000;
    border: 2px solid #ffffff;
    border-radius: 10px;
    text-align: left;
    
}

.modal-header, .modal-footer {
    border: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #2CDBB2;
}

.btn-confirm {
    background-color: #2CDBB2;
    color: rgb(0, 0, 0);
}
.input-group{
    direction: ltr;
}
.modal-content {
    text-align: center;
    }
    

    body {
        background-color:rgb(228, 228, 228);
        font-family: 'Vazirmatn', sans-serif;
    }
    .doctor-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 16px;
        background-color: #fff;
    }
    .doctor-card img {
        border-radius: 50%;
    }
    .filter-section {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 16px;
        background-color: #fff;
        text-align: right;
    }
    .filter-section h5 {
        direction: rtl; 
        text-align: right;
    }
    .btn {
        background-color: #2CDBB2;
        color: #ffffff;
    }
    .btn:hover {
        background-color: #2CDBB2;
    }
    
    #colorize{color: #FFC700;}
    #colorize2{color: #4ECB71;}

    #colorize3{color: #FFC700;}
    #colorize4{color: #4ECB71;}

    #colorize5{color: #045a46;}

    .footer {
        background-color: #aaaaaa;
        padding : 30px 0;
        font-size: 14px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

        

    }
    
    .footer .footer-logo {
        font-size: 50px;
        font-weight: bold;
        color: #2CDBB2;
        margin-right: 10%;
    }
    
    .footer .section-title {
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .footer .divider {
        border-top: 1px solid #ddd;
        margin: 20px 0;
    }
    
    .footer .icons img {
        max-width: 70px;
        margin: 0 10px;
    }

